.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 25px;
    transition: .2s all ease-in-out;
}

.card-h{
    font-size: 20px;

}

.card-p{
    line-height: 20px;
}

@media screen and (min-width:320px) and (max-width: 720px) {
    .cards-container{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card-p{
        text-align: center;
    }
}