@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');


*::before::after{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Syne', sans-serif;
}

h1{
  font-weight: 700;
}

p{
  font-weight: 400;
}

h3{
  font-weight: 500;
}

button:hover{
  background-color: #d3a2020a;
  border: 1px solid #FBC100;
  transition: .3s all ease-in-out;
}

.num{
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
}
.img-div{
  position: relative;
  overflow: hidden;
}
.img-div::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0;
    z-index: 100;
    transition: .2s all ease-in-out;
}

.container:hover .img-div:before{
  opacity: .3;
}

.container img{
   transform: scale(1);
   transition: .4s all ease-in-out;
}

.container:hover img{
  transform: scale(1.2);
}


.background-clip{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  object-fit: cover;
}

.swiper-pagination-bullet{
  background-color: #FBC100 !important;
 
}


@media (min-aspect-ratio:16/9){
  .background-clip{
    width: 100%;
    height: 100vh;
  }
}

@media (max-aspect-ratio:16/9){
  .background-clip{
    width: auto;
    height: 100%;
  }
}

@media screen and (min-width:320px) and (max-width: 720px) {
    .hero-section{
        padding: 4rem 30px;
        
    }
    .hero-content{
      width: 100%;
    }
    .hero-section h1{
      font-size: 36px;
      line-height: 40px;
    }
    .hero-content p{
      font-size: 16px;
      width: 90%;
      line-height: 20px;
    }

    /*hero two */
    .hero2{
        padding: 4rem 30px;
        
    }
    .hero2{
      
    }
    .hero2 p{
      width: 100%;
    }

    /*hero three*/
    .hero3{
      padding: 4rem 30px;
    }
    .hero3-container{
      flex-direction: column;
      width: 100%;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .hero3-content{
      width: 100%;
      margin-bottom: 4rem;
    }
    .hero3 h1{
      font-size: 30px;
      line-height: 37px;
      margin-bottom: .7rem;
    }
    .hero3 p{
      line-height: 24px;
    }

    /*hero four */
    .hero4{
      padding: 4rem 30px;
    }
    .hero4 p{
      text-align: center;
    }
    .property-container{
      padding: 0 50px;
    }
    .property-card-content h1{
      font-size: 20px;
      line-height: 22px;
    }


    /*hero five */
    .hero5{
      padding: 4rem 30px;
    }
    .hero5 h1{
      font-size: 24px;
      line-height: 30px;
      width: 100%;
    }

    /*testimonial section */
    .testimonial-section{
      padding: 4rem 30px;
    }
    .testimonial-section h1{
      font-size: 26px;
      line-height: 30px;
      width: 70%;
      margin: 0 auto;
    }
    .testimonial-container{
      grid-template-rows: repeat(3, minmax(0, 1fr)) !important;
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    /* news-letter section */
    .news-letter{
       padding: 4rem 30px;
    }
    .news-letter h1{
      font-size: 24px;
      text-align: center;
    }
    .news-letter p{
      width: 100%;
      margin-bottom: 2rem;
    }

    .news-letter .subscribe{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}